<div class="container">
    <div>
        <form method="POST" action="/auth/login">

            <div class="field">
                <input type="text" class="input" name="email" placeholder="email" /> 
            </div>

            <div class="field">
                <input type="password" class="input" name="password" placeholder="******" /> 
            </div>

            <button class="button is-fullwidth" type="submit">Sign Up</button>
            <a href="/auth/login/facebook">Log In with Facebook</a> </br>
            <a href="/auth/login/google">Log In with Google</a>
        </form>
    </div>
</div>