<div>
    <div class="container">
        <form method="POST" action="/auth/login">

            <div class="field">
                <input type="text" class="input" name="email" placeholder="email" /> 
            </div>

            <div class="field">
                <input type="password" class="input" name="password" placeholder="******" /> 
            </div>

            <button class="btn btn-primary" type="submit">Sign Up</button>
        </form>
    </div>
</div>