<div class="container">
    <div>
        <form method="POST" action="/auth/register">
            <div class="field">
                <input type="text" class="input" name="email" placeholder="email" /> 
            </div>

            <div class="field">
                <input type="password" class="input" name="password" placeholder="******" /> 
            </div>

            <button class="btn btn-primary" type="submit">Register</button>
        </form>
    </div>
</div>